<!DOCTYPE html>
<html >

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Projeto LMS</title>

    {% load static %}

    <link rel="icon" href="{% static 'img/icon.png' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/noticias.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/disciplina.css' %}">


  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"></head>

    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <style type="text/css">
        body {
          background: #f2f2f2;
          text-align: justify;
        }
        
        h1{
          font-size: 25px;
          margin-left: 40%;
          width: 400pc;
           font-weight: bold;
           text-transform: uppercase;
           color: grey;
        }
      </style>


    </head>

  <body>
     <div class="cabecalho">   
      <div class="menu">
        <ul>
          <li><a href="../index">                 Home</a></li>
          <li><a href="lista_curso">           Lista de Cursos</a></li>
          <li><a href="detalhe_graduacao">     Detalhe de Curso</a></li>
          <li><a href="disciplina">            Disciplina</a></li>
          <li><a href="noticias_linguagens">              Notícias</a></li>
        </ul>
        <a href="/index">
            <img  style="margin-top: -69px;" src="{% static 'img/logo.png' %}">
        </a>

        <a href="login">
            <button class="botao" type="submit" style="margin-top: -69px;">Login</button>
        </a>
      </div>
    </div>

    
	
	  <!-- Page Content -->
    <div style="background: white;margin-top: 20px;" class="container" >

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4" ">Faculdade Impacta de tecnologia </h1>
</div>
      <div class="disciplina">
        <button "><a style="font-family: 'Exo 2', sans-serif; color: white;" >Graduação</a></button><br> <br>
              
        <center><table>
                <tr>
                    <th  colspan="6"  >Sistemas da informação</th>
                </tr>
                  <tr>
                      <td> Comunicação e Expressão: 80 horas (EAD) </td>
                      <td> Fundamentos de Banco de Dados: 80 horas </td>
                      <td> Introdução à Internet das Coisas - IoT: 80 horas </td>
                      <td> Linguagem de Programação I: 80 horas </td>
                      <td> Lógica de Programação: 80 horas </td>
                      <td> Matemática Aplicada: 80 horas </td>
                  </tr>
              
              <tr>
                    <th colspan="7"  >Administração</th>
                </tr>

                 <tr>
                  <td> Comunicação e Expressão: 80 horas (EAD)  </td>
                  <td> Fundamentos da Administração: 80 horas </td>
                  <td> Macroeconomia: 80 horas </td>
                  <td> Matemática Aplicada: 80 horas </td>
                  <td> Modelos de Negócio e Empreendedorismo: 80 horas </td>
                  <td> Pensamento Crítico e Ética: 80 horas  </td>
              </tr>
        

        <tr>
                    <th  colspan="7"  >Gestão da Tecnologia da Informação</th>
                </tr>
                  <tr>
                      <td> Comunicação e Expressão: 80 horas (EAD) </td>
                      <td> Banco de Dados: 80 horas </td>
                      <td> Introdução à Internet das Coisas - IoT: 80 horas </td>
                      <td> Linguagem de Programação: 80 horas </td>
                      <td> Lógica da Programação: 80 horas </td>
                      <td> Matemática Aplicada: 80 horas </td>
                  </tr>
              
              <tr>
                    <th colspan="7"  >Engenharia da Computação</th>
                </tr>

                 <tr>
                  <td> Circuitos Digitais e Eletrônicos: 80 horas </td>
                  <td> Comunicação e Expressão: 80 horas </td>
                  <td> Instrodução à Internet das Coisas -IOT: 80 Horas </td>
                  <td> Linguagem de Programação I: 80 horas </td>
                  <td> Lógica de Programação: 80 horas </td>
                  <td> Matemática para Engenharia: 80 horas </td>
              </tr>
        </table>
        </center>
        
        <br><br>
        <button style="background: black;"><a style="font-family: 'Exo 2', sans-serif; color: white;" >Pós graduação</a></button><br> <br>             
        <center><table>
                <tr>
                    <th  colspan="7"  >Cloud Computing e DevOps</th>
                </tr>
                  <tr>
                      <td> Infraestrutura de Dada Center </td>
                      <td> Arquitetura de Redes e Internet </td>
                      <td> Infraestrutura de Virtualização e Armazenamento de Dados </td>
                      <td> Arquitetura de Banco de Dados e Big Data </td>
                  </tr>
              
              <tr>
                    <th colspan="7"  >Engenharia Robótica</th>
                </tr>

                 <tr>
                 <td> Modelagem de Manipuladores Robóticos </td>
                  <td> Controle Clássico para Manipuladores Robóticos </td>
                  <td> Controle Avançado para Manipuladores Robóticos </td>
                  <td> Programação Básica de Robôs Industriais </td>
              </tr>
        

        <tr>
                    <th  colspan="7"  >Big Data e Business Analytics</th>
                </tr>
                  <tr>
                      <td> Conceitos de Modelagem de Dados - 24 Horas </td>
                      <td> Python para Data Analysis - 24 Horas </td>
                      <td> Linguagens SQL e noSQL - 28 Horas </td>
                      <td> Análise Exploratória de Dados - 24 Horas </td>
                  </tr>
        </table>
      </center>
      


      <br><br>
          <button style="background: black;"><a style="font-family: 'Exo 2', sans-serif; color: white;" >MBA</a></button><br> <br>                
        <center><table>
                <tr>
                    <th  colspan="7"  >Gestão da Tecnologia da Informação</th>
                </tr>
                  <tr>
                      <td> Arquitetura de TI </td>
                      <td> Auditoria e Segurança em TI </td>
                      <td> Business Analytics </td>
                      <td> Controles Internos de TI | COBIT </td>
                      <td> Direito Aplicado a TI </td>
                      <td> Gestão da Inovação e Transformação Digital </td>
                      <td> Gestão da Qualidade de Software | CMMI e MPS.BR </td>
                  </tr>
              
              <tr>
                    <th colspan="7"  >Marketing Digital</th>
                </tr>

                 <tr>
                  <td> Conceitos de Marketing Digital </td>
                  <td> Planejamento Estratégico </td>
                  <td> Jornada do Consumidor e Netnografia </td>
                  <td> Inteligência e Pesquisa em Marketing </td>
                  <td> Semiótica Aplicada a ambiente digitais </td>
                  <td> Coach e Liderança </td>
                  <td> Marketing de Humanização </td>
              </tr>
        

        <tr>
                    <th  colspan="7"  >MBA gestão e tecnologia em segurança da informação</th>
                </tr>
                  <tr>
                      <td> ------------- </td>
                      <td> ------------- </td>
                      <td> ------------- </td>
                      <td> ------------- </td>
                      <td> ------------- </td>
                      <td> ------------- </td>
                      <td> ------------- </td>
                  </tr>
              
              <tr>
                    <th colspan="7"  >MBA gestão de projetos</th>
                </tr>

                 <tr>
                  <td> ------------- </td>
                  <td> ------------- </td>
                  <td> ------------- </td>
                  <td> ------------- </td>
                  <td> ------------- </td>
                  <td> ------------- </td>
                  <td> ------------- </td>
              </tr>
        </table>
      </center>
      


      <br><br>
      <button style="background: black;"><a style="font-family: 'Exo 2', sans-serif; color: white;" > Técnicos</a></button><br><br>                
        <center><table>
                <tr>
                    <th  colspan="7"  >Mecatrônica</th>
                </tr>
                  <tr>
                      <td> Matemática/Física </td>
                      <td> Desenho Técnico </td>
                      <td> Eletricidade </td>
                      <td> Circuitos Elétricos </td>
                      <td> Redes / Protocolos Industriais </td>
                      <td> Cabeamento Estruturado </td>
                      <td> Lógica </td>
                  </tr>
              
              <tr>
                    <th colspan="7"  >Telecomunicações</th>
                </tr>

                 <tr>
                  <td> Matemática/Física </td>
                  <td> Desenho Técnico </td>
                  <td> Eletricidade </td>
                <td> Circuitos Elétricos </td>
                  <td> Redes / Protocolos Industriais </td>
                  <td> Cabeamento Estruturado </td>
                  <td> Lógica </td>
              </tr>
        

        <tr>
                    <th  colspan="7"  >Eletrônica</th>
                </tr>
                  <tr>
                      <td> Matemática/Física </td>
                      <td> Desenho Técnico </td>
                      <td> Eletricidade </td>
                      <td> Circuitos Elétricos </td>
                      <td> Redes / Protocolos Industriais </td>
                      <td> Cabeamento Estruturado </td>
                      <td> Lógica </td>
                  </tr>
              
              <tr>
                    <th colspan="7"  >Informática Industrial</th>
                </tr>

                 <tr>
                  <td> Matemática/Física </td>
                  <td> Desenho Técnico </td>
                  <td> Eletricidade </td>
                  <td> Circuitos Elétricos </td>
                  <td> Redes / Protocolos Industriais </td>
                  <td> Cabeamento Estruturado </td>
                  <td> Lógica </td>
              </tr>
        </table>
      </center>
      
      </div>
          </div>
  
          </div>
        </div>
  
 
    <div class="rodape" style="margin-top: 20px;">
          <div class="middle">
            <a class="btn" href="https://pt-br.facebook.com/impactaoficial/" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn" href="https://twitter.com/facimpacta" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            <a class="btn" href="https://www.impacta.edu.br/" target="_blank">
              <i class="fab fa-google"></i>
            </a>
            <a class="btn" href="https://www.instagram.com/faculdadeimpacta/?hl=pt-br" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            <a class="btn" href="https://www.youtube.com/user/GrupoImpacta" target="_blank">
              <i class="fab fa-youtube"></i>
            </a>
          </div>

          <p><a href="">FAQ  </a>  
            <a href="">Política de Privacidade  </a>      
              <a href="">Termos e Condições</a>
          </p>
      <h3>© 2018 Impacta. Todos os direitos reservados.</h3>
    </div>

   
  </body>

</html>
