<!DOCTYPE html>
<html>
	<head>
		<title>Project- LMS</title>

		<meta charset="utf-8">
		
		<link rel="stylesheet" type="text/css" href="static/css/site.css">
		<link rel="stylesheet" type="text/css" href="static/css/index.css">

		<link rel="icon" href="static/img/icon.png" >
		<script type="text/javascript" src="static/script/home.js" defer></script>

		<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">

		
		<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
       
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
	</head>
	<body>
		<div class="cabecalho">		
			<div class="menu ">
				<ul>
					<li><a href="index">           						Home</a></li>
					<li><a href="user_geral/lista_curso">				Lista de Cursos</a></li>
					<li><a href="user_geral/detalhe_graduacao">		    Detalhe de Curso</a></li>
					<li><a href="user_geral/disciplina">				Disciplina</a></li>
					<li><a href="user_geral/noticias_tecnologia">		Notícias</a></li>
				</ul>
				<img  src="static/img/logo.png">
				<a href="user_geral/login" ><button  class="botao" type="submit">Login</button></a>
			</div>
		</div>
		
    
		<div class="hero-image" id="inicio">
		 
         <div class="hero-text">
		   
            <h1>FACULDADE IMPACTA DE TECNOLOGIA</h1>
		    
             
        <p >A Faculdade Impacta Tecnologia tem como missão disseminar o conhecimento no País e contribuir para a construção de uma sociedade mais igualitária através das novas tecnologias aliadas à educação.</p>
		   <br><br>
		    
                <button>
                    <a href="#faculdade" style="font-family: 'Exo 2', sans-serif;text-decoration: none;color: white;" >IMPACTA</a>
                </button>
             
			<br>
                <button >
                    <a href="#cursos" class="botaoq" >NOSSOS CURSOS</a>
                </button>
            
		  </div>
		  </div>
        
      
        
		<div class="container-fluid">		
            <div class="row">
            <div class="col-sm-12 col-xs-5 inicio" id="faculdade">
					<h1 style="text-align: center;margin-top: 0px;"><br>FACULDADE IMPACTA</h1>
					<p>Fundada em 2003, a Faculdade Impacta é considerada uma das melhores instituições de tecnologia da América Latina devido ao seu intenso compromisso com a educação ao longo dos anos e à transformação da sociedade através da tecnologia. 
					Referência nas áreas de TI, Gestão e Design, a Impacta conta com cursos de Graduação, Pós-Graduação, Extensão, MBA e cursos técnicos que preparam seus alunos para os desafios do mercado de trabalho, além de um time de mestres e doutores com larga experiência profissional.<br><br>
					O alto nível de empregabilidade é uma das principais características da Faculdade Impacta, que é reconhecida pelas maiores empresas do País, em que seus alunos garantem posições de destaque no mercado de trabalho após o término do curso.
					A Instituição ainda conta com infraestrutura moderna, avaliação positiva do MEC, cursos estrelados no Guia do Estudante e parcerias estratégicas com grandes empresas para oferecer a melhor formação para os alunos.</p>
					
					
					<h1 style="text-align: center;margin-top: -40px;"><br>PRÊMIOS E RECONHECIMENTOS</h1>
					
					<p>A Faculdade Impacta é altamente reconhecida por sua atuação no mercado da educação, 
					o que comprova o compromisso da Instituição com o ensino de qualidade e a dedicação do Grupo Impacta em transformar 
					a sociedade através da tecnologia. Desta maneira, ao longo dos anos a Faculdade Impacta tem recebido prêmios e reconhecimentos 
					que são resultados do trabalho contínuo de professores e funcionários e da determinação de seus alunos.</p>
                    </div>
            </div></div>
				
        
            <div class="conteiner-fluid">
				<div class="meio" id="cursos">
				
				<div class="row">
                    <div class="col-sm-12 col-xs-5">
                        <h1>ESCOLHA SEU CURSO <br> E VEM PARA FACULDADE IMPACTA !</h1><br><br>
                    </div>
                </div>
                
                    
                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <div class="graduacao" >
                            <h1 style="font-size: 20px;margin-top: 30px;line-height: 30px;"><a href="user_geral/detalhe_graduacao.html">
                                Graduação<br>
                            Cursos na área de Tecnologia, Gestão e Design</a></h1>	
                        </div>
                    </div>
                    
                    <div class="col-sm-4 col-xs-12">
                    <div class="posmba">
                        <h1 style="font-size: 20px;margin-top: 30px;line-height: 30px;"><a href="user_geral/detalhe_posmba.html">
                        Pós e MBA<br>
                        Diferentes áreas de conhecimento para você crescer no mercado</a></h1>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 col-xs-12">
                    <div class="tecnico">
                        <h1 style="font-size: 20px;margin-top: 30px;line-height: 30px;"><a href="user_geral/detalhe_cursotecnico.html">Técnico<br>
                        Acelere sua inserção no mercado de trabalho com cursos de qualidade</a></h1>
                    </div>
                    </div>

                    
                    </div>
                    </div>
				    
                <div class="fundo_final" style="background-color: black;color: white;text-align: center;font-size: 25px;margin-top: 0;padding: 0;">
			      <h1>VEM SER IMPACTA!</h1>
			    <p>Pronto para começar sua faculdade conosco? Isso é ótimo!<br>
			    Ligue para nós ou envie-nos um e-mail e entraremos em contato o mais breve possível!</p>
			    
			    <div class="middle">
			      <a class="btn" href="#" id="telefone">
			        <i class="fas fa-phone-square" ></i>
			      </a>
			      <a class="btn" href="#" id="email">
			        <i class="fas fa-envelope"></i>
			      </a>
			      <a class="btn" href="#" id="endereco">
			        <i class="fas fa-home"></i>
			      </a>
			    </div>

			    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.1875531162655!2d-46.65171418562061!3d-23.525755784700557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5a36ed390d1b%3A0x774f96e1ad521edb!2sFaculdade+Impacta+Tecnologia!5e0!3m2!1spt-BR!2sbr!4v1541449355435" width="800" height="230" frameborder="0" style="border:2px solid #f2f2f2;border-radius: 5px;" allowfullscreen></iframe>

			    </div>
			    </div>

		</body>
</html>