<!DOCTYPE html>
<html>
  <head>
    <title>Projeto LMS</title>
    {% load static %}


    <link rel="icon" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mensagem_aluno.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/formulario.css' %}">
    
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="{% static 'script/script.js' %}" defer></script>
    <script src="{% static 'script/home.js' %}" defer></script>

  </head>
  
  <body>
      <div class="sub">
          <a href="/index">
            <img src="{% static 'img/logo_sub.png' %}">
        </a>
      </div>

      <div class="area_aluno">
      <br> 
          <form>
          <div class="box">
            <label> 
              <h1>Enviar atividade</h1>
            </label>
            
        <label>
        <h3>Insira os dados abaixo:</h3>
          <span>RA do aluno:</span>
          <input  type="text" class="input_text" name="nome" id="nome" required="required"  />
        </label>
        
        <label> 
          <span>Escolher atividade:</span>
              <select class="input_text">
                <option value=""></option>
                <option value="">Atividade Continua 1</option>
                <option value="">Atividade Continua 2</option>
                <option value="">Atividade Continua 3</option>
                <option value="">Atividade Continua 4</option>
                <option value="">Atividade Continua 5</option>
                <option value="">Atividade Continua 6</option>
                <option value="">Atividade Continua 7</option>
                <option value="">Atividade Continua 8</option>
                <option value="">Atividade Continua 9</option>
                <option value="">Atividade Continua 10</option>
              </select>
        </label>



        <label> 
          <span>Disciplina:</span>
              <select class="input_text">
                <option value=""></option>
                <option value="">...</option>
                <option value="">...</option>
                <option value="">...</option>
              </select>
        </label>
        
        <label>
          <span>Ensira sua atividade:</span>
          <input type="file"  name="atividade"><br><br>
        </label>        
        
        <label>
          <span>Ensira o link atividade:</span>
          <input type="url" class="input_text" name="atividade" placeholder="Caso seja link Insira o link aqui"><br><br>
        </label>        

        <label>
              <input type="submit" class="button" value="Enviar " />
              <input type="reset" class="button" value="Limpar dados" />
        </label> 
      </div>
    </form>
      </div>
         


      </div>   
      <div id='cssmenu'>
          <ul>
             <li><a href='area_aluno'><span>Home</span></a></li>
             <li class='active has-sub'><a href=''><span>Area do Aluno</span></a>
                <ul>
                   <li class='has-sub'><a href='#'><span>Aluno(a) ...... </span></a>
                      <ul>
                        <li><a href='matricula_curso'>				         <span>Matrícula</span></a></li>
                        <li class='last'><a href='inscricao_curso'>	 <span>Inscrição em curso</span></a></li>
            						<li class='last'><a href='atividade'>	       <span>Entrega de atividades</span></a></li>
            						<li class='last'><a href='mensagem'>	         <span>Enviar mensagem</span></a></li>
                      </ul>
                   </li>
                </ul>
             </li>
             <li><a href='#'>                 <span>SmartClass</span></a></li>
             <li class='last'><a href='' id="telefone">    <span>Contato faculdade</span></a></li>
            <li class='last'><a href='../index'>  <span> Sair da conta</span></a></li>
          </ul>
          </div>
      </div>
  </body>
</html>