<!DOCTYPE html>
<html>
  <head>
    <title>Projeto LMS</title>
    {% load static %}


    <link rel="icon" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mensagem_aluno.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/formulario.css' %}">
    
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="{% static 'script/script.js' %}" defer ></script>
    <script src="{% static 'script/home.js' %}" defer ></script>

  </head>
  
  <body>
      <div class="sub">
          <a href="/index">
            <img src="{% static 'img/logo_sub.png' %}">
        </a>
      </div>


      <div class="area_aluno">
      <br>
          <form>
          <div class="box">
            <label> 
              <h1>Inscrever - se em curso</h1>
            </label>
            
        <label>
        <h3>Insira os dados abaixo:</h3>
          <span>Nome completo:</span>
          <input  type="text" class="input_text" name="nome" id="nome" required="required"  />
        </label>

        <label>
          <span>RG/CPF:</span>
          <input  placeholder="RG ou CPF"  type="number" class="input_text" name="identidade" id="identidade" required="required"  />
        </label>


        <label>
          <span>Data nascimento:</span>
          <input  type="date" class="input_text" name="data_nascimento" id="data_nascimento" required="required"  />
        </label>

        <label>
          <span>Nome da mãe:</span>
          <input  type="text" class="input_text" name="nmae" id="nmae" required="required"  />
        </label>

        <label>
          <span>Endereco completo:</span>
          <input  type="text" class="input_text" name="endereco" id="endereco" required="required"  />
        </label>
      

        <label> 
          <span>Curso desejado:</span>
              <select class="input_text">
                <option value="">...</option>
                <option value="">...</option>
                <option value="">...</option>
                <option value="">...</option>
              </select>
        </label>

        <label>
          <span>Escolher data da prova:</span>
          <input  type="date" class="input_text" name="data_prova" id="data_prova" required="required"  />
        </label>
      


        <label>
              <input type="submit" class="button" value="Inscrever-se" />
              <input type="reset" class="button" value="Limpar dados" />
        </label> 
      </div>
    </form>
      </div>
          
      <div id='cssmenu'>
          <ul>
             <li><a href='area_aluno'><span>Home</span></a></li>
             <li class='active has-sub'><a href='#'><span>Area do Aluno</span></a>
                <ul>
                   <li class='has-sub'><a href='#'><span>Aluno(a) ...... </span></a>
                      <ul>
                        <li><a href='matricula_curso'>				         <span>Matrícula</span></a></li>
                        <li class='last'><a href='inscricao_curso'>   <span>Inscrição em curso</span></a></li>
            						<li class='last'><a href='atividade'>	       <span>Entrega de atividades</span></a></li>
            						<li class='last'><a href='mensagem'>          <span>Enviar mensagem</span></a></li>
                      </ul>
                   </li>               
                </ul>
             </li>
             <li><a href='#'>                 <span>SmartClass</span></a></li>
             <li class='last'><a href=''  id="telefone">    <span>Contato faculdade</span></a></li>
             <li class='last'><a href='../index'>  <span> Sair da conta</span></a></li>

          </ul>
          </div>

      </div>
  </body>
</html>