<!DOCTYPE html>
<html>
  <head>
    <title>Projeto LMS</title>
    {% load static %}


    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cadastro_aluno_professor.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/formulario.css' %}">
    
    
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="{% static 'script/script.js' %}"  defer></script>
    <script src="{% static 'script/home.js' %}"  defer></script>

  </head>
  
  <body>
      <div class="sub">
         <img src="{% static 'img/logo_sub.png' %}">
      </div>
      <div class="area_aluno">
      <br>
          <div class="box">
            <label> 
              <h1>Lancamento de notas</h1>
            </label>
            
        <label>
        <h3>Insira os seus dados abaixo:</h3>
        <span>Curso:</span>
            <select class="input_text">
                <option value="">...</option>
                <option value="">...</option>
                <option value="">...</option>
                <option value="">...</option>
            </select>
        </label>

        <label> 
          <span>Turma:</span>
              <select class="input_text">
                <option value="">...</option>
                <option value="">...</option>
                <option value="">...</option>
                <option value="">...</option>
              </select>
        </label>

        <label> 
          <span>Aluno:</span>
              <select class="input_text">
                <option value="">...</option>
                <option value="">...</option>
                <option value="">...</option>
                <option value="">...</option>
              </select>
        </label>


        <label> 
          <span>Atividade / Prova :</span>
              <select class="input_text">
                <option value=""></option>
                <option value="">AC 1</option>
                <option value="">AC 2</option>
                <option value="">AC 3</option>
                <option value="">AC 4</option>
                <option value="">AC 5</option>
                <option value="">AC 6</option>
                <option value="">AC 7</option>
                <option value="">AC 8</option>
                <option value="">AC 9</option>
                <option value="">AC 10</option>
                <option value="">Prova</option>
              </select>
        </label>
        
         <label>
          <span>Nota:</span>
          <input  type="number" class="input_text" name="nota" id="nota" required="required"  />
        </label>
        <label>
              <input type="submit" class="button" value="Enviar nota" />
              <input type="reset" class="button" value="Limpar dados" />
        </label> 
      </div>
      
       <div id='cssmenu'>
          <ul>
             <li><a href='area_professor'>           <span>Home</span></a></li>
             <li class='active has-sub'><a href='#'>      <span>Area do Professor</span></a>
                <ul>
                   <li class='has-sub'><a href='#'>       <span>Professor(a) ...... </span></a>
                      <ul>
                        <li><a href='lancamento_nota'>               <span>Lançamento de notas</span></a></li>
                        <li class='last'><a href='fechamento_nota'>  <span>Fechamento de notas</span></a></li>
                        <li class='last'><a href='#'>                     <span> style="" Correção de atividades</span></a></li>
                      </ul>
                   </li>
                   
               
                </ul>
             </li>
             <li><a href='smartclass'>                                <span>SmartClass</span></a></li>
             <li class='last'><a href='' id="telefone">               <span>Contato faculdade</span></a></li>
             <li><a class="last" href='../index'>                     <span> Sair da conta</span></a></li>

          </ul>
          </div>


  </body>
</html>