p{
  width: 1000px;
  margin: auto;
  line-height: 30px;
}
.mt-4{
  text-align: center;
  font-size: 25px; 
  font-weight: bold;
  width: 400px;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
  border:2px solid #f2f2f2;
}
.categorias p{
  background: grey;
  width: 100%;
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
 }
.categorias{
   border: 1px solid black; 
   width: 350px;
   margin: auto;
   margin-top: 30px;
   height: 80px;
   border-radius: 5px;
 }
 .categorias a{
   padding: 5px;
   color: grey;
 }
 .categorias a:hover{
   text-decoration: none;
   color: black;
 }