
	hr{
	  background: black;
	  margin-top: -3px;
	}
	          
	.centro , .inicio , .direita{  
	  border: 2px solid #999999;
	  width: 310px;
	  height: 110px;
	  border-radius: 4px;
	  background: #f2f2f2;

	}

	.centro:hover,.inicio:hover,.direita:hover{
	  background: #bfbfbf;
	  border: 2px solid #999999;
	}
	.centro i,.inicio i,.direita i{
	  font-size: 50px;
	}
           
	.centro i, p, .inicio i, p , .direita i, p{
	  text-align: center;

	}
          
    .centro i, .inicio i, .direita i {
	margin-left: 120px;
	margin-top: 5px;
           }
	.centro, .inicio, .direita p{
	  font-size: 18px;
	  margin-top: 5px;
	  font-weight: bold;
	}

	.inicio{
	  margin-left: 375px;
	  margin-top: -108px;
	}


	.direita{
	  margin-left: 750px;
	  margin-top: -108px;
	}
     
